# Исключаем системные файлы и временные данные
*.pyc
*.pyo
*.pyd
__pycache__/
.env
.DS_Store

# Исключаем файлы версионного контроля
.git
.gitignore

# Исключаем файлы IDE
.idea/
.vscode/

# Исключаем лишние данные, если не нужно
data/*.json
